<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FNAFMC - Not Found</title>

    <!-- Resources -->
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div style='padding: 40px; background: rgba(0,0,0,.7); border-radius: 9px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: red; text-align: center;'>
        <img src="/img/title.png" alt="FNAFMC Logo" width="350px">
        <h1>404</h1>
        <h2>That page wasn't found.</h2>
        <a href="/" class="btn btn-outline-primary">Go back home</a>
    </div>
</body>
</html>